body {
    max-width: 700px;
    margin: 10px auto 10px auto;
    background: #EFEFEF;
    background-image:url("../images/main-bg.jpg");
    background-repeat;repeat-x;
}

div#navigation {
    float: right;
}

div#navigation a {
    margin-left: 10px;
}

div#footer {
    text-align: right;
    font-style: italic;
    font-size: 11px;
    margin-top: 30px;
}

h1 {
    color: rgb(150, 150, 150);
    border-bottom: 2px solid rgb(150, 150, 150);
    font-size: 22px;
    margin-top: 30px;
}

li {
    list-style-type: square;
}

div.figure {
    text-align: center;
}

div.figure p.caption {
    font-style: italic;
}
